*.log
*.log.*
**/*.map
**/*.orig
**/.baseDir*
app/config/prod-config.js
app/inc/
app/theme/
node_modules/
artifacts/
build/
temp/
coverage/
.sass-cache/
build.zip
.idea/
**/.tscache
app/sdk/bin/
build_sdk/
abstract.component.js
selectSearch.js
app/app.js
app/sdk/poleEmploi/public/
**/sdk/**/*.min.js
app/models/common/fileDescriptor.js
app/models/common/httpResult.js
app/services/fileServerService.js
app/services/fileStorageService.js
app/services/serviceInterface.js
app/services/translationService.js
docs/**/*
app/gui/settings/settings.js
app/gui/settings/about/about.js
app/gui/settings/video/video.js
app/components/widgets/textArea/textArea.js
app/components/widgets/imageViewer/imageViewer.js
app/resources/svg_dist/symbol/sprite.symbol.html
app/resources/svg_dist/symbol/spriteSymbol.svg
app/dist/bundle.js
app/models/common/conferenceUser.js
app/gui/rooms/roomDetails/roomSpeaker/*
app/gui/rooms/roomDetails/roomSpeaker/roomSpeaker.js
app/gui/rooms/roomDetails/roomUserList/roomOwnerAudioCell/roomOwnerAudioCell.js
app/gui/rooms/roomDetails/roomUserList/roomUserAudioCell/roomUserAudioCell.js
app/services/conference/webConferenceService.js
app/services/recordsService.js
app/resources/svg_dist/sprite.svg
package-lock.json
yarn.lock
app/services/webrtcGateway/webrtcGatewayService.js
app/services/conference/conferenceService.js
app/static/
rainbow.code-workspace
app/services/directoryService.js
demo-prod-config.js
app/services/admin/adminRvcpService.js
app/services/callLogService.js
app/models/admin/rvcpInstance.js
app/gui/users/breakingLine/**/*
app/gui/users/groupAvatar/**/*
app/gui/users/group/**/*
app/gui/users/users/*
app/gui/users/users/order/**/*
app/gui/users/users/userList/*/**
app/gui/users/users/userCell/**/*
app/gui/users/createGroup/**/*
app/gui/users/groupsList/groupsList/**/*
app/gui/users/groupsList/groupListCell/**/*
app/gui/users/groupDetails/groupDetails/**/*
app/gui/users/invitation/invitationList/**/*
app/gui/users/invitation/invitationCell/**/*
app/gui/callLogs/callLogsCell/**/*
app/gui/callLogs/callLogsList.*
app/gui/settings/internal/*
app/gui/conversationsArea/searchCell/*
app/gui/conversationArea/conversationArea.*
app/gui/conversationArea/invitation/*
scripts/unused_labels
scripts/global_results.json
app/model/appli/conversation.js
app/model/appli/message.js
documentation/**/*
.cache-loader/**/*
/*/*.DS_Store*
*.DS_Store*
sdk/bin
sdk/workspace.code-workspace
